<html>
<head>
    <meta charset="utf-8">
    <style><%= reconciliation_css %></style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.min.js"></script>
    <script>
      window.existingField = <%= Yajl::Encoder.encode(existing_field, html_safe: true) %>
      window.incomingField = <%= Yajl::Encoder.encode(incoming_field, html_safe: true) %>
      window.matches = <%= Yajl::Encoder.encode(matched, html_safe: true) %>;
      window.votes = [];
      window.reconciled = <%= Yajl::Encoder.encode(reconciled.map(&:fields), html_safe: true) %>;
    </script>
    <script><%= reconciliation_js %></script>

</head>
<body>
    <textarea class="csv"></textarea>

    <div class="progress">
        <div class="row">
            <div class="column-8">
                <div class="progress-bar"><div></div></div>
            </div>
            <div class="column-2">
                <div class="undo">Undo</div>
            </div>
            <div class="column-2">
                <div class="export-csv">Export CSV</div>
            </div>
        </div>
    </div>

    <div class="pairings"></div>

    <!--
    <a href="#" id="generate-csv">Generate CSV</a>
    <p>Paste this CSV into <code><%= csv_file %></code></p>
    <textarea id="csv-output" rows="10"></textarea>
    -->

    <script type="text/html" id="pairing">
        <div class="pairing">
            <div class="row">
                <div class="column-6 pairing__incoming">
                    <h2>Incoming person</h2>
                    {{ incomingPersonHTML }}
                </div>
                <div class="column-6 pairing__choices">
                    <h2>Potential matches from existing data</h2>
                    {{ existingPersonHTML }}
                    <div class="no-matches">None of these match</div>
                    <div class="skip-person">Skip for now</div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/html" id="person">
      {% if(person.uuid){ %}
        <div class="person" data-uuid="{{ person.uuid }}">
      {% } else if(person.id){ %}
        <div class="person" data-id="{{ person.id }}">
      {% } %}
            <h1>{{ person[field] || person.name }}</h1>
            <dl>
              {% if(person.gender){ %}
                <dt>Gender:</dt>
                <dd>{{ person.gender }}</dd>
              {% } %}
              {% if(person.birth_date){ %}
                <dt>Born:</dt>
                <dd>{{ person.birth_date }}</dd>
              {% } %}
              {% if(person.death_date){ %}
                <dt>Died:</dt>
                <dd>{{ person.death_date }}</dd>
              {% } %}
              {% if(person.area){ %}
                <dt>Represents:</dt>
                <dd>{{ person.area }}</dd>
              {% } %}
            </dl>
        </div>
    </script>

</body>
</html>
